<!DOCTYPE html>
<html>
<head th:fragment="common_header(title, link)">
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" integrity="sha384
        ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
         crossorigin="anonymous">
    <link rel="icon" href="../../img/fabicon.png" th:href="@{/img/fabicon.png}" type="image/png">

    <!--추가-->
    <title th:replace="${title}">메인 타이틀</title>
    <th:block th:replace="${link}" />

</head>
</html>