<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
<!--    부트스트랩-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../../static/css/bootstrap.min.css" integrity="sha384
        ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
<!--    파비콘-->
    <link rel="icon" href="../../../static/img/fabicon.png" th:href="@{/img/fabicon.png}" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <header class="p-3" style="background-color: #008cff;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
<!--                홈 로고-->
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center">
                    <li><a href="../../home.html" th:href="@{/home}" class="nav-link px-2">
                        <img src="../../../static/img/head.png" th:src="@{/img/head.png}" style="width: 12em;"></a></li>
                </ul>

<!--                레시피 검색-->
                <form action="/home/search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" name="keyword" class="form-control form-control-dark"
                           th:value="${keyword}" placeholder="레시피 검색..." aria-label="Search">
                </form>

<!-- 사용자 이미지 드롭다운 -->
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/img/defaultUserImage.webp}" alt="프로필" width="42" height="42" class="rounded-circle me-2">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark text-small shadow custom-dropdown-menu">
                        <li><a href="/profile" class="dropdown-item">프로필</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="/logout" class="dropdown-item">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <nav class="col-md-12 my-2">
        <div class="d-flex flex-row flex-shrink-0 p-1 justify-content-sm-around ">
            <ul class="nav nav-pills flex-row mb-auto p-1 h5">
                <li class="nav-item">
                    <a href="../../home.html" th:href="@{/home}" class="nav-link mx-3"
                       onmouseover="this.classList.add('active')"
                       onmouseout="this.classList.remove('active')">
                        <img th:src="@{/img/home.png}" src="../../../static/img/home.png"
                             style="width: 30px"; height="30px">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../../menu/refrigerator/refrigerator.html" th:href="@{/refrigerator/ingredients/add}" class="nav-link mx-3"
                       onmouseover="this.classList.add('active')"
                       onmouseout="this.classList.remove('active')">
                        <img th:src="@{/img/refrigerator.png}" src="../../../static/img/refrigerator.png"
                             style="width: 30px"; height="30px">
                        냉장고 가기
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../../menu/cook.html" th:href="@{/cook}" class="nav-link mx-3"
                       onmouseover="this.classList.add('active')"
                       onmouseout="this.classList.remove('active')">
                        <img th:src="@{/img/cook.png}" src="../../../static/img/cook.png"
                             style="width: 30px"; height="30px">
                        요리하기
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../../menu/myRecipeForm.html" th:href="@{/recipes}" class="nav-link mx-3"
                       onmouseover="this.classList.add('active')"
                       onmouseout="this.classList.remove('active')">
                        <img th:src="@{/img/recipe_book.png}" src="../../../static/img/recipe_book.png"
                             style="width: 30px"; height="30px">
                        내 레시피
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../../menu/emailForm.html" th:href="@{/emails}" class="nav-link mx-3"
                       onmouseover="this.classList.add('active')"
                       onmouseout="this.classList.remove('active')">
                        <img th:src="@{/img/cart.png}" src="../../../static/img/cart.png"
                             style="width: 30px"; height="30px">
                        장보기 리스트
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../../menu/map.html" th:href="@{/map}" class="nav-link mx-3"
                       onmouseover="this.classList.add('active')"
                       onmouseout="this.classList.remove('active')">
                        <img th:src="@{/img/mart.png}" src="../../../static/img/mart.png"
                             style="width: 30px"; height="30px">
                        주변 마트
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <hr class="my-1">

    <!--추가-->
    <title th:replace="${title}">메인 타이틀</title>
</head>

<body th:replace="${content}">

</body>
</html>