<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" integrity="sha384
        ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="icon" href="../../img/fabicon.png" th:href="@{/img/fabicon.png}" type="image/png">

    <!--추가-->
    <title th:replace="${title}">메인 타이틀</title>
</head>
<body>
<header class="p-3" style="background-color: #008cff;">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center">
                <li><a href="home.html" th:href="|@{/home}|" class="nav-link px-2">
                    <img src="../../img/head.png" th:src="@{/img/head.png}" style="width: 12em;"></a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark" placeholder="레시피 검색..." aria-label="Search">
            </form>

            <div class="text-end">
                <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="42" height="42" class="rounded-circle me-2">
                </a>
            </div>
        </div>
    </div>
</header>

<nav class="col-md-12 my-2">
    <div class="d-flex flex-row flex-shrink-0 p-1 justify-content-sm-around ">
        <ul class="nav nav-pills flex-row mb-auto p-1 h5">
            <li class="nav-item">
                <a href="home.html" th:href="|@{/home}|" class="nav-link mx-3">
                    <img th:src="|/img/home.png|" src="../../img/home.png"
                         style="width: 30px"; height="30px">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link mx-3">
                    <img th:src="|/img/refrigerator.png|" src="../../img/refrigerator.png"
                        style="width: 30px"; height="30px">
                    냉장고 가기
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link mx-3">
                    <img th:src="|/img/cook.png|" src="../../img/cook.png"
                         style="width: 30px"; height="30px">
                    요리하기
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link mx-3">
                    <img th:src="|/img/recipe_book.png|" src="../../img/recipe_book.png"
                         style="width: 30px"; height="30px">
                    내 레시피
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link mx-3">
                    <img th:src="|/img/cart.png|" src="../../img/cart.png"
                         style="width: 30px"; height="30px">
                    장보기
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link mx-3">
                    <img th:src="|/img/mart.png|" src="../../img/mart.png"
                         style="width: 30px"; height="30px">
                    주변 마트
                </a>
            </li>
            <li class="nav-item">
                <a href="../../welcome.html" th:href="|@{/logout}|" th:method="post" class="nav-link mx-3">
                    <img th:src="|/img/mart.png|" src="../../img/mart.png"
                         style="width: 30px"; height="30px">
                    로그아웃
                </a>
            </li>
        </ul>
    </div>
</nav>

<hr class="my-1">

<div th:replace="${content}"></div>

</body>
</html>