body {
    display: flex;            /* 플렉스 박스 사용 */
    justify-content: center;  /* 가로 중앙 정렬 */
    flex-direction: column;   /* 자식 요소를 세로로 정렬 */
    align-items: center;      /* 세로 중앙 정렬 */
    position: relative;       /* 텍스트가 화면 중앙에 고정되도록 함 */
}

img {
    position: fixed;    /* 이미지를 고정 위치로 설정 */
    top: 0;             /* 화면 상단에 위치 */
    left: 0;
    width: 100vw;
    height: 100vh;      /* 화면 높이에 맞추기 */
    object-fit: cover;  /* 이미지 비율 유지하며 잘라냄 */
    z-index: -1;        /* 이미지가 배경처럼 보이도록 z-index 설정 */
}

.container {
    max-width: 560px;
    margin-top: 2rem;
}