<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/layout/header :: common_header(~{::title}, ~{::link})">
    <title>밥 먹고 갈래?</title>
    <link rel="stylesheet" th:href="@{/css/welcomePage.css}" href="css/welcomePage.css">
</head>
<body>
    <img src="img/main_refrigerator.png" alt="냉장고 이미지">
    <!-- 텍스트는 이미지 이후에 나타남 -->
    <h2 class="fade-text1">오늘도 고생한 나 자신에게...</h2>
    <h3 class="fade-text2" onclick="location.href='home'" style="cursor: pointer;">밥 먹고 갈래?</h3>
</body>
</html>
